.catalog__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	padding-top: 55px;
	padding-bottom: 19px;
	gap: 21px;
}

.catalog__slider {
	margin-top: 23px;
	padding: 40px;
	background-color: #f3f3f3;
	display: grid;
	grid-template-rows: auto 1fr auto auto;

	@media (max-width: 700px) {
		padding: 40px 20px 20px;
	}

	& .swiper {
		overflow: visible;
	}
}

.catalog__info {
	position: relative;
	top: -63px;
	display: grid;
	align-items: center;
	grid-template-rows: 1fr auto;
	box-sizing: border-box;
	width: fit-content;
	min-width: 187px;
	min-height: 42px;
	margin-right: 2px;
	margin-bottom: -43px;
	margin-left: auto;
	padding: 7px 20px;
	font-weight: 500;
	font-size: 12px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #01a39b;
	visibility: visible;
	opacity: 1;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;

	&--hidden {
		visibility: hidden;
		opacity: 0;
	}
}

.catalog__info-count {
	display: block;
	max-height: 20px;
	color: #000000;
	transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, max-height 0.2s ease-in-out;

	&--hidden {
		max-height: 0;
		visibility: hidden;
		opacity: 0;
	}
}

.catalog__list {
	margin: 0 0 26px;
	padding: 0;
	list-style-type: none;
}

.catalog__item {
	box-sizing: border-box;
	padding: 26px 24px 17px;
	background-color: #ffffff;
	background-image: url(../../images/catalog_bg-slide.svg);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: 100% auto;

	& img {
		display: block;
		width: 91%;
		margin: 0 auto;
		transform: translateX(-7px);

		@media (max-width: 700px) {
			width: 100%;
		}
	}
}

.catalog-card__name {
	margin: 0 0 23px;
	font-weight: 500;
	font-size: 22px;
	line-height: 31px;

	@media (max-width: 700px) {
		margin-bottom: 14px;
	}
}

.catalog-card__pencil {
	display: flex;
	align-items: center;
	float: right;
	width: 153px;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.2;
	color: #000000;
	text-decoration: none;
	gap: 8px;

	@media (max-width: 990px) {
		float: none;
		margin-bottom: 20px;
	}
}

.catalog-card__pencil-icon {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	background-color: #00cabf;
	border-radius: 50%;
}

.catalog-card__price {
	margin: 0 0 28px;
	font-weight: 300;
	font-size: 20px;

	@media (max-width: 500px) {
		line-height: 1.2;
	}
}

.catalog-card__price-value {
	font-weight: 500;
	color: #00cabf;
	white-space: nowrap;
}

.catalog__navigation {
	display: flex;
	justify-content: center;
	gap: 16px;
}

.catalog .catalog__navigation .catalog__bullet {
	width: 28px;
	height: 28px;
	margin: 0;
	color: var(--color, #cecece);
	background-color: currentColor;
	opacity: 1;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

	&:not(&--current):hover {
		transform: scale(1.1);
	}

	&--current {
		box-shadow: 0 0 0 3px #ffffff, 0 0 5px 2px #000000;
	}
}

.catalog__links {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	margin: 29px 0 27px;
	padding: 0 8px;
	list-style-type: none;
	font-weight: 300;
	font-size: 12px;
	gap: 16px 8px;
}

.catalog__link {
	display: flex;
	align-items: center;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.2;
	color: inherit;
	text-decoration: none;
}

.catalog__link-icon {
	display: flex;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	width: 28px;
	height: 28px;
	margin-right: 10px;
	background-color: #000000;
	border-radius: 50%;
	transition: background-color 0.2s ease-in-out;

	& svg {
		transition: fill 0.2s ease-in-out;
		fill: #000000;
	}

	.catalog__link:hover & {
		background-color: #00cabf;

		& svg {
			fill: #00cabf;
		}
	}
}

.catalog__buttons {
	display: grid;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 14px;
	gap: 10px;
}

.catalog__button {
	box-sizing: border-box;
	width: 100%;
	padding: 22px 21px 19px;
}
