.timer {
	background-color: #f3f3f3;
}

.timer__container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 39px;
	padding-bottom: 24px;
	gap: 15px;

	@media(max-width: 850px) {
		flex-direction: column;
		align-items: center;
	}
}

.timer__block {
	width: 634px;

	@media (min-width: 1024px) {
		margin-right: auto;
		margin-left: -42px;
	}

	@media(max-width: 1024px) {
		width: 400px;
	}

	@media(max-width: 450px) {
		width: 100%;
	}
}

.timer__title {
	margin: 0;
	margin-bottom: 14px;
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	text-transform: uppercase;

	@media(max-width: 1024px) {
		line-height: 1.2;
	}
}

.timer__button {
	@media (min-width: 1440px) {
		padding: 26px 68px 24px;
		transform: translateY(-7px);
	}
}
